# ENVIRONMENT

# CI_ENVIRONMENT values: development, testing, production
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
app.CSRFProtection = 'false'
app.CSRFTokenRandomize = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = absensi
database.default.username = root
database.default.password = 123
database.default.DBDriver = MySQLi
database.default.DBPrefix = 
database.default.port = 3306
database.default.encryption = false
database.default.compress = false
database.default.strictOn = false
database.default.failover = []
database.default.port = 3306

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

CSPEnabled = false

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

session.driver = 'FileHandler'
session.cookieName = 'XSESSIONID'
session.expiration = 7200
session.savePath = null
session.matchIP = false
session.timeToUpdate = 300
session.regenerateDestroy = false

#--------------------------------------------------------------------
# LOGGING
#--------------------------------------------------------------------

log.threshold = 4
